<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- WireMock-specific Logging -->
    <logger name="com.github.tomakehurst.wiremock" level="DEBUG"/>
    <logger name="org.verizon.hffv.bdp" level="DEBUG"/>
</configuration>